html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*====================header====================*/
header {
  margin: auto;
  width: 1080px;
  height: 250px;
  background: url(../img/header.png);
}
header p {
  margin: 0px;
}
header .header-left {
  text-align: center;
  position: absolute;
  margin-left: 60px;
  margin-top: 20px;
}
header .header-left .main-text {
  font-family: 'Marck Script', cursive;
  font-size: 60px;
  font-weight: 600;
}
header .header-left .main-text span {
  letter-spacing: 8px;
}
header .header-left .main-text a {
  text-decoration: none;
  color: #000;
}
header .header-left .main-below {
  font-family: 'Marck Script', cursive;
  font-size: 35px;
  margin-top: -10px; 
}
header .header-left .submain {
  font-size: 15px;
  color: #F664DC;
}
header .header-right {
  width: 355px;
  height: 209px;
  padding: 10px;
  position: absolute;
  margin-left: 735px;
  margin-top: 25px; 
  background: url(../img/header-right.png);
  color: #fff;
}
header .header-right .first-text, 
header .header-right .second-text {
  font-family: "Courier New";
  font-size: 20px;
  margin-top: 10px; 
}
header .header-right .phone-text {
  font-size: 23px;
  margin-top: 10px; 
}


/*====================nav====================*/
nav {
  width: 1080px;
  margin: auto;
}
nav button {
  margin: 0 -2px 0 -2px;
  border: none;
  width: 271px;
  height: 45px;
  background: linear-gradient(to top, rgb(240,240,240) 40%, rgb(255,255,255) 60%);
}
nav button  {
  font-family: "Courier New";
  font-size: 15px;
  font-weight: bold;
  color: #000;

}
.left-button {
  border-radius: 3px 0px 0px 3px;
}
.main-button {
background: linear-gradient(to top, rgb(165,212,0) 40%, rgb(196,233,65) 60%);
  color: #fff;
}
.main-button a {
  color: #fff;
  text-decoration: none;
}
.rightButton {
  border-radius: 0px 3px 3px 0px;
}
nav button:hover {
  background: linear-gradient(to top, rgb(165,212,0) 40%, rgb(196,233,65) 60%);
  text-decoration: none;
  color: #fff;
}




/*====================slider====================*/
#carousel-example-generic {
  margin: auto;
  max-width: 1080px;
}
.carousel-inner img {
  margin: auto;
}
#carousel-example-generic .slide-block {
 position: absolute;
 bottom: 20px;
 left: -9px;
}
#carousel-example-generic .slide-block span p{
  background: url(../img/slide-block.png);
  margin: 0;
  font-family: "Courier New";
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  padding: 5px 5px 5px 15px;
}
#carousel-example-generic .slide-block span img {
  position: absolute;
  margin-left: -505px; 
}
#carousel-example-generic .carousel-control:hover,
#carousel-example-generic .carousel-control {
  background: none;
}


/*====================article====================*/
/*LEFT*/
article {
  width: 1080px;
  height: 510px;
  margin: auto;
  margin-top: 20px;
  text-align: left;
}
article div {
  display: inline-block;
}
article .left-block {
  position: relative;
  margin-left: 10px;
  margin-top: 5px;
  border: 10px solid #ccc;
  border-radius: 0 0 20px 0;
  outline-offset: -10px; 
  width: 350px;
  height: 393px;
  background: url(../img/left-block.jpg);
}
article .left-block span{
  position: absolute;
  margin-top: 259px;
  margin-left: -10px;  
  width: 350px;
}
article .left-block span .pink {
  text-align: center;
  background: url(../img/slide-block.png);
  font-family: "Courier New";
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
article .left-block span img,
article .center-block span img, 
article .right-block span img {
  position: absolute;
  margin-top: -10px; 
}
article .left-block span .green {
  height: 39px;
  text-align: center;
  background-color: #B0E200;
  border-radius: 0 0 20px 0;
  font-family: "Courier New";
  font-size: 25px;
  margin-left: 10px;
  margin-top: -10px;
  padding-top: 3px;
  transition: 1s;
}
article .left-block span a {
  text-decoration: none;
  color: #000;
}
article .left-block span .green:hover {
  background-color: #000;
  color: #B0E200;
}
/*CENTER*/
article .center-block {
  position: absolute;
  margin-left: 365px;
  margin-top: -398px;
  border: 10px solid #ccc;
  border-radius: 0 0 20px 0;
  outline-offset: -10px; 
  width: 350px;
  height: 435px;
  background: url(../img/center-block.jpg);
}
article .center-block span{
  position: absolute;
  margin-top: 344px;
  margin-left: -10px;  
  width: 350px;
}
article .center-block span .pink {
  text-align: center;
  background: url(../img/slide-block.png);
  font-family: "Courier New";
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
article .center-block span .green {
  height: 38px;
  text-align: center;
  background-color: #B0E200;
  border-radius: 0 0 20px 0;
  font-family: "Courier New";
  font-size: 25px;
  margin-left: 10px;
  margin-top: -10px;
  padding-top: 2px;
  transition: 1s;
}
article .center-block span a {
  text-decoration: none;
  color: #000;
}
article .center-block span .green:hover {
  background-color: #000;
  color: #B0E200;
}
/*RIGHT*/
article .right-block {
  position: absolute;
  margin-left: 360px;
  margin-top: 5px;
  border: 10px solid #ccc;
  border-radius: 0 0 20px 0;
  outline-offset: -10px; 
  width: 350px;
  height: 475px;
  background-color: #B0E200;
}
article .right-block span{
  position: absolute;
  margin-top: 200px;
  margin-left: -10px;  
  width: 350px;
}
article .right-block .main-letters {
  position: relative;
  color: #fff;
  font-family: "Courier New";
  font-size: 40px;
  text-align: center;
}
article .right-block .subletters {
  position: absolute;
  text-align: center;
  color: #fff;
  font-family: "Courier New";
  font-size: 25px;
  margin-top: 20px;
  padding: 10px;
}
article .right-block span .pink {
  text-align: center;
  background: url(../img/slide-block.png);
  font-family: "Courier New";
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
article .right-block span .green {
  height: 38px;
  text-align: center;
  background-color: #B0E200;
  border-radius: 0 0 20px 0;
  font-family: "Courier New";
  font-size: 25px;
  margin-left: 10px;
  margin-top: -10px;
  padding-top: 3px;
  transition: 1s;
}
article .right-block span a {
  text-decoration: none;
  color: #000;
}
article .right-block span .green:hover {
  background-color: #000;
  color: #B0E200;
}


/*====================footer====================*/
.footInfo{
  width:1080px;
  height:300px;

  margin:auto;
}
.infoTime {
  width: 360px;
  margin-top:0px;
  text-align: left;
  font-weight:bold;
  position:absolute;
}
.infoAdress {
  width: 360px;
  margin-top:0px;
  text-align: left;
  font-weight:bold;
  position:absolute;
  margin-left:360px;
  padding-left:65px;
}
.infoLocation {
  width: 360px;
  margin-top:0px;
  padding-left:60px;
  text-align: left;
  font-weight:bold;
  position:absolute;
  margin-left:720px;
}
.footInfo h5{
  font-size:15px;
  font-weight:bold;
  color: rgb(242,24,144);
}
.socialVk{
  position: absolute;;
  margin-left:110px;
}
.socialInst{
  position:absolute;
  margin-left:80px;
}
.footInfo img{
  height:24px;
  width:24px;
}
.footInfo a{
  text-decoration: none;
  color:rgb(62,62,62);
}

/*====================classes====================*/
.classes{
  width:1080px;
  height:550px;
  margin:auto;
  background: linear-gradient(to top, white 90%, rgb(233,233,233));
  border: 1px solid rgb(233,233,233);

}
.classes img{
  float:left;
  margin:30px 20px 20px 20px;
  border: 10px solid rgb(233,233,233);
}
.classes h3{
  font-family: "Courier New";
  font-size:40px;
  text-align:left;
  padding-top:30px;
  font-weight:700;
  color:rgb(62,62,62);
}
.classes p{
  text-align:left;
  color:rgb(62,62,62);
}



/*====================about====================*/
.about{
  width:1080px;
  height:500px;
  margin:auto;
  background: linear-gradient(to top, white 90%, rgb(233,233,233));
  border: 1px solid rgb(233,233,233);
  text-align: left;
}
.about h3{
  font-family:"Courier New";
  font-size:40px;
  margin:30px;
}
.about p{
  margin-left:30px;
}
.about button{
  width:190px;
  height:50px;
  border:1px solid rgb(240,240,240);
  border-radius:3px;
  background: linear-gradient(to bottom, white 50%, rgb(240,240,240) 50%);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin-top:80px;
  margin-left:30px;
}
.about a{
  color:rgb(242,24,171);
  text-decoration:none;
}
.about button:hover{
  background: linear-gradient(to bottom, rgb(242,242,242) 50%, rgb(230,230,230) 50%);
  color:rgb(161,16,96);
}



/*====================contacts====================*/
.contacts{
  width:1080px;
  height:500px;
  margin:auto;
  background: linear-gradient(to top, white 90%, rgb(233,233,233));
  border: 1px solid rgb(233,233,233);
}
.adressBlock{
  width:220px;
  height:320px;
  position: absolute;
  margin-top:40px;
  margin-left:30px;
  text-align: left;
}
.contacts h2{
  font-family:"Courier New";
  font-size:40px;
  color:rgb(62,62,62);
}
.contacts h3{
  font-family:"Courier New";
  font-size:25px;
  font-weight:bold;
  color:rgb(62,62,62);
}
.contacts h4{
  font-family:"Courier New";
  font-size:14px;
  font-weight:bold;
  color:rgb(62,62,62);
}
.contacts h5{
  font-family:"Courier New";
  font-size:18px;
  color:rgb(62,62,62);
}
.contacts p{
  font-family:"Open Sans";
  color:rgb(62,62,62);
  font-size:13px;
}
.aboveForm {
  position:absolute;
  margin-top: 40px;
  margin-left:350px;
}
.aboveForm form input {
  margin-bottom: 10px;
}
.aboveForm form .submit {
  position: absolute;
  margin-top: 3px;
  margin-left: 226px; 
  font-family: "Courier New";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  background: #F560B3;
}
@media only screen and (max-width: 481px) { 
#carousel-example-generic { 
visibility: hidden ;
margin-top: -200px; 
} 
header .header-left .main-below { 
font-size: 5px; 
} 
header .header-left .submain { 
font-size: 15px; 
} 
}